<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>100DaysofCoding</title>
    <meta name="description" content="My 100 Days of Coding Web App" />
    <link rel="stylesheet" href="src/css/style.css" />
  </head>
  <body>
    <div id="app app__main">
      <header class="app app__header">#100DaysOfCoding</header>
      <div class="app app__hero">Activities</div>
      <div class="app app__content"></div>
      <footer class="app app__footer">Made with ☕️ by <a href="https://github.com/biannetta/100DaysOfCode">@biannetta</a></footer>
    </div>

    <!-- JS Templates -->
    <script type="text/template" id="activity-data-entry">
      <div class="table">
        <div class="table__row">
          <div class="table__row__col table__col--label">Activity Type</div>
          <select class="input_edit" name="type">
            <% for (i in options) { %>
              <option><%= options[i] %></option>
            <% } %>
          </select>
        </div>
        <div class="table__row">
          <div class="table__row__col table__row__col--label">Quantity</div>
          <input class="input_edit" type="number" placeholder="Quantity" name="quantity" value="<%= quantity %>" />
        </div>
      </div>
      <button class="button button--save">Save</button>
    </script>

    <script type="text/template" id="activity-table">
      <!-- Table Listing for Activities -->
      <input type="text" class="filter" placeholder="Search" />
      <div class="table">
        <div class="table__row table__row--header">
          <div class="table__row__col table__row__col--title">Date</div>
          <div class="table__row__col table__row__col--title">Type</div>
          <div class="table__row__col table__row__col--title">Quantity</div>
        </div>
      </div>
    </script>
      
    <script type="text/template" id="activity-item--display">
      <div><%= formatted_activity_date %></div>
      <div><%= activity_type %></div>
      <div><%= activity_quantity %></div>
    </script> 
   
    <!-- Javascript -->
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/backbone/backbone.js"></script>
    <script type="module" src="src/index.js"></script>
  </body>
</html>