/* Main Stylesheet for 100Day App */

/* TODO: This does something, will google later*/
* {
  box-sizing: border-box;
}

/* Grid style layout */
.table {
  display: grid;
  grid-template: 1fr / 1fr;
}
.table__row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.table__row--title {
  grid-template-columns: 1fr;
  align-items: center;
  border-bottom: 1px solid black;
}

.table__row--header {
  font-weight: bold;
}

.table__title {
  text-align: center;
}