/* Main Stylesheet for 100Day App */
/* Import variables and google fonts */
@import "variables.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* TODO: This does something, will google later*/
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: rgba(255, 238, 149, 0.1);
}

.app {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.header {
  background: linear-gradient(180deg, #E95858 2%, rgba(255, 238, 149, 0.1) 93%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
}

.hdc_card {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(196, 196, 196, 0.55);
  box-sizing: border-box;
  border-radius: 10px;
  width: 150px;
  height: 184px;
}
.hdc_card--calendar {
  background: var(--on-primary);
  border: 3px solid var(--primary-color);
}
.hdc_card__text {
  text-align: center;
  font-style: normal;
  font-weight: bold;
}
.hdc_card__text--large {
  font-size: var(--app-x-large);
}
.hdc_card__text--small {
  font-size: var(--app-medium);
}

.content {
  width: 100vw;
  display: flex;
}
.hdc_collection {
  display: flex;
  flex-direction: row;
  padding: 30px 20px;
  height: 250px;
  overflow-x: scroll;
}
.panel {
  width: 100%;
  margin: 10px;
}
.footer {
  height: 50px;
  text-align: center;
  padding: 5px;
}

.table {
  display: grid;
  grid-template: 1fr / 1fr;
}
.table__row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.table__row--title {
  grid-template-columns: 1fr;
  align-items: center;
  border-bottom: 1px solid black;
}

.table__row--header {
  font-weight: bold;
}

.table__title {
  text-align: center;
}