:root {
  --primary-color: #E95858;
  --primary-color-variant: #FFEE95;
  --primary-bg-color: #ffffff;

  --secondary-color:#03dac6;
  --secondary-color-variant: #018786;

  --on-primary: #FFF;
  --on-secondary: black;

  --app-x-large: 50px;
  --app-large: 30px;
  --app-medium: 20px;
  --app-regular: 15px;
  --app-small: 10px;
  --app-x-small: 6px;
}